.contact {
  &__wrap {
    @include page-grid;

    margin: 0;
    padding: 0;
  }

  &-form {
    @include page-grid;

    grid-column: 1 / -1;
    gap: 16px;
    padding: 0;

    @include on-desktop {
      grid-column: 1 / span 5;
    }
  }

  &__button {
    grid-column: 1 / -1;
    justify-self: center;
    display: block;
    margin: 0;
    margin-top: 32px;
    margin-bottom: 48px;
    width: 100%;
    height: 56px;
    color: #fff;
    background-color: $main-color;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition:
      background-color 0.3s ease,
      color 0.3s;

    @include on-tablet {
      margin-bottom: 80px;
    }

    @include on-desktop {
      grid-column: 1 / -1;
    }

    &:hover {
      color: $main-color;
      background-color: $background-color;
    }

    &:active {
      background-color: #111;
      color: #fff;
    }
  }

  &__input {
    grid-column: 1 / -1;
    justify-self: center;
    padding-left: 16px;
    width: 100%;
    height: 48px;
    border: none;
    border-radius: 8px;
    background-color: $background-color;

    &-message {
      resize: none;
      width: 100%;
      justify-self: center;
      padding-left: 16px;
      height: 148px;
    }
  }

  &__headline {
    margin: 100px 20px 48px;
  }
}

.information {
  &__content {
    grid-column: 1 / -1;

    @include on-desktop {
      grid-column: 7 / -1;
    }
  }

  &__block {
    margin-bottom: 24px;
  }

  &__phone-number {
    color: $main-color;
    text-decoration: none;
    transition:
      background-color 0.3s ease,
      color 0.3s;

    &:hover {
      color: $hover-color;
    }
  }

  &__title {
    margin: 0;
    margin-bottom: 8px;
    font-weight: 400;
    font-size: 14px;
    line-height: 140%;
    color: $light-color;
  }

  &__text {
    margin: 0;
    font-family: 'Space Mono', monospace;
    font-weight: 400;
    line-height: 140%;
    transition:
      background-color 0.3s ease,
      color 0.3s;

    &:hover {
      color: $hover-color;
    }
  }

  &__link {
    text-decoration: none;
    color: inherit;

    &:hover {
      color: $hover-color;
    }
  }
}
