.header {
  min-width: 100%;
  background-image: url('../images/header-bg-mobile.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;

  display: flex;
  flex-direction: column;
  justify-content: space-between;

  &__content {
    height: 100vh;
    max-width: 1260px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  &__title {
    display: flex;
    font-weight: $bold-text-weight;
    font-style: $bold-text-style;
    font-size: $header-title-font-size;
    line-height: 100%;
    letter-spacing: 0;
    justify-content: center;
    align-items: center;

    @include on-tablet {
      font-size: $tab-header-title-font-size;
      justify-content: flex-start;
    }

    @include on-desktop {
      font-size: $desk-header-title-font-size;
      justify-content: flex-start;
    }
  }

  &__bottom {
    padding-bottom: 40px;

    @include on-tablet {
      padding-bottom: 65px;
    }

    @include on-desktop {
      padding-bottom: 92px;
    }
  }
}
