.icon {
  display: block;
  width: 18px;
  height: 18px;
  background-repeat: no-repeat;
  background-size: contain;

  @include on-tablet {
    width: 24px;
    height: 24px;
  }

  &--phone {
    background-image: url('../images/icons/phone-icon.svg');
    position: relative;
    .tooltip {
      color: $main-color;
      font-family: Inter, sans-serif;
      font-weight: $bold-text-weight;
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      right: calc(100% + 8px);
      font-size: 12px;
      outline: none;
      white-space: nowrap;
      opacity: 0;
      visibility: hidden;
      pointer-events: none;
      transition: opacity 0.3s ease;
    }

    &:hover .tooltip {
      visibility: visible;
      opacity: 1;
    }
  }

  &--menu {
    background-image: url('../images/icons/burger-menu-icon.svg');
    background-position: center;
    transition: all;

    &:hover {
      background-image: url('../images/icons/burger-menu-hover-icon.svg');
    }
  }

  &--close {
    background-image: url('../images/icons/close-icon.svg');
  }
}
