.main {
  width: 100%;
  max-width: 1260px;
  margin-left: auto;
  margin-right: auto;
  box-sizing: border-box;

  &__content {
    display: grid;
    justify-items: center;
    row-gap: 96px;
    padding-block: 96px;

    @include on-tablet {
      padding-block: 120px;
      row-gap: 120px;
    }
  }
}

.separator {
  position: relative;
  left: 50%;
  right: 50%;
  margin-left: -50vw;
  margin-right: -50vw;
  display: flex;
  width: 100vw;
  justify-content: center;
  align-items: center;
  &__content {
    background-image: url('../images/main-bg-mobile.png');
    height: 320px;
    width: 100%;
    background-size: cover;
    background-position: center;
    margin-top: 96px;
    margin-bottom: 48px;

    @include on-tablet {
      height: 400px;
      margin-bottom: 56px;
    }

    @include on-desktop {
      height: 460px;
      margin-bottom: 56px;
    }
  }
}

.about {
  margin-bottom: 0;

  &__content {
    @include page-grid;
  }

  &__title {
    font-weight: $bold-text-weight;
    font-size: $headline-text-size;
    line-height: 100%;
    text-align: left;
    letter-spacing: 0;
    grid-column: 1 / -1;

    @include on-tablet {
      grid-column: 1 / 3;
      font-size: $desk-headline-text-size;
    }

    @include on-desktop {
      grid-column: span 6;
    }
  }

  &__text {
    font-family: $main-text;
    font-weight: $regular-text-weight;
    line-height: 140%;
    grid-column: 1 / -1;

    @include on-tablet {
      grid-column: 4 / -1;
    }

    @include on-desktop {
      grid-column: span 6;
    }
  }
}

.contact {
  margin-top: 104px;
}
