.menu {
  max-width: 100%;
  box-sizing: border-box;
  height: 100vh;
  background-color: #e5e6e8;
  text-transform: uppercase;
  font-weight: $bold-text-weight;
  overflow: auto;

  &:target {
    pointer-events: all;
    opacity: 1;
  }

  &__top {
    @include content-padding-inline;

    margin-bottom: 56px;
    position: sticky;
    top: 0;
    z-index: 1;
    background-color: $menu-bg-color;
  }

  &__content {
    box-sizing: border-box;
    max-width: 100%;
    overflow-x: hidden;

    @include content-padding-inline;
  }

  &__nav {
    margin-bottom: 48px;
  }

  &__phone-number {
    display: block;
    color: inherit;
    text-decoration: none;
    font-size: $main-text-size;
    line-height: 140%;
    letter-spacing: 2px;
    margin-bottom: 16px;
    transition:
      background-color 0.3s ease,
      color 0.3s;

    &:hover {
      color: $hover-color;
    }
  }

  &__call-to-order {
    display: block;
    color: inherit;
    padding-bottom: 8px;
    border-bottom: 1px solid $main-color;
    width: fit-content;
    text-decoration: none;
    font-size: $main-text-size;
    line-height: 140%;
    letter-spacing: 2px;
  }
}
