.grid__title {
  @include page-grid;

  display: grid;
}

.section-title {
  grid-column: 1 / -1;
  margin: 0;
  margin-bottom: 48px;
  font-weight: $bold-text-weight;
  font-size: $headline-text-size;
  line-height: 100%;
  text-align: left;
  letter-spacing: 0;

  @include on-tablet {
    font-size: $tab-headline-text-size;
    margin-bottom: 56px;
    grid-column: span 5;
  }

  @include on-desktop {
    font-size: $desk-headline-text-size;
    margin-bottom: 56px;
    grid-column: span 5;
  }
}
