$tablet-min-width: 744px;
$header-title-font-size: 36px;
$tab-header-title-font-size: 48px;
$desk-header-title-font-size: 56px;
$bold-text-weight: 700;
$bold-text-style: bold;
$regular-text-weight: 400;
$regular-text-style: regular;
$headline-text-size: 32px;
$tab-headline-text-size: 40px;
$desk-headline-text-size: 48px;
$product-name-text-size: 18px;
$big-product-name-text-size: 24px;
$sub-headline-text-size: 18px;
$main-text-size: 16px;
$background-color: #f8f8fa;
$main-color: #292929;
$hover-color: #595959;
$light-color: #9393a3;
$menu-bg-color: #e5e5e5;
$main-text: 'Space Mono', monospace;
$headline-text: 'Space Grotesk', sans-serif;
